<div id="loader">
  <img src="images/spinner.gif" class="ajax-loader"/>
</div>
<p>Manage devices</p>
<div ng-controller="DeviceCtrl" data-ng-init="fetch()">
  <label>power: </label>
  <input id="power" type="number" name="power"
  ng-model="detail.power"
  ng-model-options="{ getterSetter: true }"/>
  <label>House Id: </label>
  <select ng-model="detail.houseId" ng-model-options="{ getterSetter: true }">
    <option ng-repeat="h in detail.houseList()" title="{{h}}" value="{{h}}">{{h}}</option>
  </select>
  <button ng-click="create()" class="btn btn-success">Create new device</button><br /><br />

  <table ng-model="detail.list" class = "table table-striped table-hover">
    <tr>
      <td>
        Id
      </td>
      <td>
        Power
      </td>
      <td>
        House Id
      </td>
      <td>
        Delete
      </td>
    </tr>
    <tr ng-repeat="device in detail.list()">
      <td>
        {{device.id}}
      </td>
      <td>
        {{device.power}}
      </td>
      <td>
        {{device.house}}
      </td>
      <td>
        <button ng-click="delete(device.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>

</div>
