<div id="loader">
  <img src="images/spinner.gif" class="ajax-loader"/>
</div>
<p>Manage houses</p>
<div ng-controller="HouseCtrl" data-ng-init="fetch()">
  <label>Rooms: </label>
  <input id="rooms" type="number" name="rooms"
  ng-model="detail.rooms"
  ng-model-options="{ getterSetter: true }"/>
  <label>Size: </label>
  <input id="size" type="number" name="size"
  ng-model="detail.size"
  ng-model-options="{ getterSetter: true }"/><br />
  <label>Person: </label>
  <select ng-model="detail.personId" ng-model-options="{ getterSetter: true }">
    <option ng-repeat="h in detail.personList()" title="{{h.id}}" value="{{h.id}}">{{h.pers}}</option>
  </select>
  <label>Heater: </label>
  <select ng-model="detail.heaterId" ng-model-options="{ getterSetter: true }">
    <option ng-repeat="h in detail.heaterList()" title="{{h.id}}" value="{{h.id}}">{{h.id}}</option>
  </select>
  <label>Device: </label>
  <select ng-model="detail.deviceId" ng-model-options="{ getterSetter: true }">
    <option ng-repeat="h in detail.deviceList()" title="{{h.id}}" value="{{h.id}}">{{h.id}}</option>
  </select>
  <br />
  <button ng-click="create()" class="btn btn-success">Create new House</button><br /><br />

  <table ng-model="detail.list" class = "table table-striped table-hover">
    <tr>
      <td>
        Id
      </td>
      <td>
        Rooms
      </td>
      <td>
        Size
      </td>
      <td>
        Person
      </td>
      <td>
        Heaters
      </td>
      <td>
        Devices
      </td>
      <td>
        Delete
      </td>
    </tr>
    <tr ng-repeat="house in detail.list()">
      <td>
        {{house.id}}
      </td>
      <td>
        {{house.rooms}}
      </td>
      <td>
        {{house.size}}
      </td>
      <td>
        {{house.person}}
      </td>
      <td>
        {{house.myHeaters}}
      </td>
      <td>
        {{house.myDevices}}
      </td>
      <td>
        <button ng-click="delete(house.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>

</div>
