<div id="loader">
  <img src="images/spinner.gif" class="ajax-loader"/>
</div>
<p>Manage persons</p>
<div ng-controller="PersonCtrl" data-ng-init="fetch()">
  <label>firstname: </label>
  <input id="firstname" type="text" name="firstname"
  ng-model="detail.firstname"
  ng-model-options="{ getterSetter: true }"/>
  <label>name: </label>
  <input id="name" type="text" name="name"
  ng-model="detail.name"
  ng-model-options="{ getterSetter: true }"/>
  <label>mail: </label>
  <input id="mail" type="text" name="mail"
  ng-model="detail.mail"
  ng-model-options="{ getterSetter: true }"/>
  <button ng-click="create()" class="btn btn-success">Create new Person</button><br /><br />

  <table ng-model="detail.list" class = "table table-striped table-hover">
    <tr>
      <td>
        Id
      </td>
      <td>
        Firstname
      </td>
      <td>
        Name
      </td>
      <td>
        Mail
      </td>
      <td>
        Houses
      </td>
      <td>
        Friends
      </td>
      <td>
        Delete
      </td>
    </tr>
    <tr ng-repeat="person in detail.list()">
      <td>
        {{person.id}}
      </td>
      <td>
        {{person.firstName}}
      </td>
      <td>
        {{person.name}}
      </td>
      <td>
        {{person.mail}}
      </td>
      <td>
        {{person.myHouses}}
      </td>
      <td>
        {{house.myFriends}}
      </td>
      <td>
        <button ng-click="delete(person.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>

</div>
